@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --brand: 230 64% 26%;
    --brand-dark: 232 56% 15%;
    --brand-bright: 224 76% 46%;

    --primary: 230 64% 26%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --accent: 333 78% 48%;
    --accent-foreground: 0 0% 100%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 230 78% 30%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', system-ui, -apple-system, Roboto, sans-serif;
  }
}
